# Git
.git
.gitignore
.gitattributes

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Documentation
README.md
*.md

# Environment files
.env
.env.local
.env.*.local
.env.backup

# Dependencies
node_modules
vendor/bin

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Laravel specific
storage/logs/*
!storage/logs/.gitkeep
bootstrap/cache/*
!bootstrap/cache/.gitkeep
.phpunit.result.cache

# Testing
tests/
phpunit.xml